<md-button class="md-raised" ng-click="openInNewTab('http://182.92.4.173:3000/')">tyk</md-button>
<md-button class="md-raised" ng-click="openInNewTab('https://bugsnag.com/user/sign_in')">bugsnag</md-button>
<md-button class="md-raised" ng-click="openInNewTab('https://logentries.com/login/')">logentries</md-button>
<md-button class="md-raised" ng-click="openInNewTab('http://account.fir.im/signin')">fir.im</md-button>
<md-button class="md-raised" ng-click="openInNewTab('http://senz-parserhub.avosapps.com/static/index.html')">parserhub</md-button>
<md-button class="md-raised" ng-click="openInNewTab('https://app.datadoghq.com/account/login')">datadog</md-button>
<md-button class="md-raised" ng-click="openInNewTab('https://www.runscope.com/signin')">runscope</md-button>

<!-- <div ng-bind-html="msg"></div> -->

