<h2>{{myRole.fullname()}}</h2>

<div>
    <p>examples</p>

    <div ng-repeat="example in myRole.examples">{{example}}</div>
</div>

<h2>Config</h2>
<div>
    <select ng-options="project.name for project in projects"
            ng-model="myProject">
    </select>
</div>

<div>
    <select ng-options="role.name for role in roles"
            ng-model="myRole">
    </select>
</div>

<div ng-show="myRole.name == 'datasource'">
    <label>Log</label>
    <input ng-model="logType" placeholder="log type"/>
</div>


<div ng-show="myRole.name == 'log'">
    <label>Datasource</label>
    <input ng-model="serviceName" placeholder="source name"/>
    <input ng-model="subname" placeholder="sub-source name"/>
</div>


<div ng-show="myRole.name == 'analyzer'">
    <label>Analyzer</label>
    <input ng-model="analyzTarget" placeholder="alayze target"/>
</div>

<div ng-show="myRole.name == 'middleware'">
    <label>Middleware</label>
    <input ng-model="convertFrom" placeholder="from"/>
    <input ng-model="convertTo" placeholder="to"/>
</div>

<div ng-show="myRole.name == 'app'">
    <label>App</label>
    <input ng-model="appName" placeholder="app name"/>
    <select ng-options="platform.name for platform in platforms"
            ng-model="selectedPlatform">
    </select>
</div>

<div ng-show="myRole.name == 'sdk'">
    <label>SDK</label>
    <input ng-model="sdkName" placeholder="sdk name"/>
    <select ng-options="platform.name for platform in platforms"
            ng-model="selectedPlatform">
    </select>
</div>

<div ng-show="myRole.name == 'parser'">
    <label>Parser</label>
    <select ng-options="parserType.name for parserType in parserTypes"
            ng-model="parserType">
    </select>
    <input ng-model="parserTarget" placeholder="parser target"/>
</div>